body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
.background{
  position: relative;
}
.subtitle {
  position: absolute;
  top: 700px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: 400px;
  text-align: center;
  padding: 20px;
  color: #5f4f3f;
  line-height: 1.5;
}

/*
.game{
  display: flex;
  flex-direction: row;
}
.game-info{
  margin-left: 20px;
}
*/